@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: spin 50s linear infinite;
}

.back {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

